/* sub  start style  */
.subcat{
display: flex;
flex-direction:row;
flex-wrap: wrap;
}
/* sub end style  */

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

ul{list-style: none;}

body{ line-height: 1.5;
    font-family: 'Playfair', serif; }

img{ width: 100%;
     height: 100%; }

/* login/register css */
#login{
   
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    padding: 20px;
    margin-bottom: 50px;
}
#register{
   
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    padding: 20px;
    margin-bottom: 50px;
}

/* Nav */
#navcl{
    background-color:#97d2d4;    
    font-size: 20px;
    color: black;
    text-transform: capitalize;   
    font-weight: 500;
}


/*
=====================================
            carousel
=====================================
*/
.carousel-item {
    width: 100%;
    height: 400px;
    object-fit: cover !important;
    margin-top: 10px;
    }
.img-box {
    margin: auto;
}

.navbar-brand img{
    width: 120px;
}


/* single cart desing start  */
.single-card{
  
    width: 100%;
    height: 100%;
    margin-top: 10px;       
    box-shadow: rgba(0, 0, 0, 14) 0px 3px 8px;
    text-align: center;
    justify-content: center;
           
}
.single-card a{
text-decoration: none;
color: black;
}


.single-card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;  
}

.single-card-image img {
    transition: all .5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-fit: contain;
    margin-top: 10px;
}

.single-card-image img:hover { transform: scale(1.1) !important; }

.single-card-content {
    height: 190px;
     
}

.single-card-content del{
    color: red;
 
}
.single-card-content button {
   
    background-color: rgb(43, 112, 181);
    padding: 7px 5px;
    border-radius:10%;
    border: none;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    align-items: center;        
}
.single-card-content button:hover { transform: scale(1.1); }

/* single cart desing  end */