/* sub  start style  */
.subcat{
display: flex;
flex-direction:row;
flex-wrap: wrap;
}
/* sub end style  */

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

ul{list-style: none;}

body{ line-height: 1.5;
    font-family: 'Playfair', serif; }

/* img{ width: 100%;
     height: 100%; } */

/* login/register css */
#login{
   
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    padding: 20px;
    margin-bottom: 50px;
}
#register{
   
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    padding: 20px;
    margin-bottom: 50px;
}

/* Nav */
#navcl{
    background-color:#97d2d4;    
    font-size: 20px;
    color: black;
    text-transform: capitalize;   
    font-weight: 500;
}


/*
=====================================
            carousel
=====================================
*/
.carousel-item {
    width: 100%;
    height: 400px;
    object-fit: cover !important;
    margin-top: 10px;
    }
.img-box {
    margin: auto;
}

.navbar-brand img{
    width: 120px;
}


/* single cart desing start  */
.single-card{
  
    width: 100%;
    height: 100%;
    margin-top: 10px;       
    box-shadow: rgba(0, 0, 0, 14) 0px 3px 8px;
    text-align: center;
    justify-content: center;
           
}
.single-card a{
text-decoration: none;
color: black;
}


.single-card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;  
}

.single-card-image img {
    transition: all .5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-fit: contain;
    margin-top: 10px;
}

.single-card-image img:hover { transform: scale(1.1) !important; }

.single-card-content {
    height: 190px;
     
}
.single-card-content p{
 text-align: center;
}

.single-card-content del{
    color: red;
 
}
.single-card-content button {
   
 background-color: rgb(43, 112, 181);
   color: white;
    padding: 7px 5px;
    border-radius:15%;
    border: none;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    align-items: center;        
}
.single-card-content button:hover {
    background-color: #3a1a3b;
    transform: scale(1.1);
 }

/* single cart desing  end */



/* single page style start  */


.single-pro-img{
    overflow:hidden;       
}

.single-pro-img img {
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    width: 400px;
    height: 380px;
    transition: all .5s;
    margin-left: 20px;
    padding-left: 50px;            
}

.single-pro-img img:hover {
    transform: scale(1.1) !important;
    
}

.single-small-img img {
    width: 100px;
    height: 100px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    padding: 5px;
    object-fit: cover;
    object-fit: contain;
    align-items: center;
}
.single-small-img {
    display: flex;
    overflow: hidden;
    align-items: space-between;
    justify-content: space-between;
    margin-top: 20px;
    
}

.single-small-img img:hover {
    transform: scale(1.1) !important;
    padding: 5px
}
p{
    text-align: justify;
    font-size: 14px;        
}

.sigle-card-details del{
    color: red;
 
}

/* sociali icon */
.single-social-links {
    display: flex;
    justify-content:flex-start;
}

.single-social-links a{
height: 40px;
width: 40px;
background-color: rgba(40, 36, 36, 0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius:50%;
color:  #e91e63;
transform: all 0.5s ease;
}

.single-social-links a:hover {
color: #24262b;
background-color: #ffffff;
}


/* single page style end  */